body {
    background-color: #828282;
}

.wrapper {
    background-color: #755303;
    margin: 50px 50px;
    height: 400px;
    width: 500px;
}

#top-bar {
    background-color: #ad9d5f;
    font-size: 13px;
    height: 40px;
    width: 100%;
}

#resource-bar {
    padding-top: 5px;
    padding-left: 5px;
}

#building-text {
    background-color: #8e804b;
    float: right;

    height: 100%;
    width: 140px;
}
#building-text.p{
    margin-left:20px;

}

#building-menu {
    background-color: #4bab46;
    float: right;
    height: 360px;
    width: 140px;
}

.building-row {
    background-color: dimgray;
    height:100px ;
    margin-top: 5px;
    width: 140px;
}

.buildables {
    display: inline-flex;
}

.building-tab{
    margin-left: 4px;
    background-color: saddlebrown;
    height: 100px;
    width: 64px;
}

.building-name {
    background-color: red;
    text-align: center;
    margin-top: 5px;
}

#board-holder {
    background-color: black;
    float: left;
    margin: 5px;
    height: 350px;
    width: 350px;
}

#board {
    background-color: #38821a;
    padding: 15px;
}

.row {
    margin: auto;

}

.tile {
    background-color: #828282;
    width: 64px;
    height: 64px;
}

.tile.field {
    background-image: url("Sprites/Field.png");
}

.tile.mountain {
    background-image: url("Sprites/MountainTile.png");
}

.tile.forest {
    background-image: url("Sprites/Forest.png");
}

.tile.village {
    background-image: url("Sprites/Village.png");
}

.serf {
    height: 32px;
    width: 32px;
    position: relative;
    top: 32px;
    left: 32px;
    background-image: url('Sprites/SummerVillagerDefault.png');
}


.serf.dragged {
    border-style: solid;
}
.building.dragged {

}
.resource-income-num {
    float:right;
    text-align: center;
    color: blue;
    margin-top: 10px;
    opacity: 1;
}
.resource-income-num.float {
    margin-top: 0px;
    opacity: 0;
    transition: margin-top 1.5s,
                opacity 1.8s;
}

.opaque {
    border-style: none;
    opacity: 0.4;
}


