.wrapper {
    background-color: cyan;
    margin: 50px 50px;
    height: 400px;
    width: 500px;
}

#top-bar {
    background-color: orange;

    height: 40px;
    width: 100%;
}

#building-text {
    background-color: yellow;
    float: right;
    height: 100%;
    width: 140px;
}

#building-menu {
    background-color: blue;

    float: right;
    height: 360px;
    width: 140px;
}

.building-row {
    background-color: dimgray;
    height:100px ;
    margin-top: 5px;
    width: 140px;
}

.buildables {
    display: inline-flex;
}

.building-tab{
    margin-left: 4px;
    background-color: saddlebrown;
    height: 100px;
    width: 64px;
}


#board-holder {
    background-color: pink;
    float: left;
    margin: 5px;
    height: 350px;
    width: 350px;
}

#board {
    background-color: red;
    padding: 15px;
}

.row {
    margin: auto;

}

.tile {
    background-color: blueviolet;
    width: 64px;
    height: 64px;
}

.tile.field {
    background-image: url("Sprites/Field.png");
}

.tile.mountain {
    background-image: url("Sprites/MountainTile.png");
}

.tile.forest {
    background-image: url("Sprites/Forest.png");
}

.tile.village {
    background-image: url("Sprites/Village.png");
}

.serf {
    height: 32px;
    width: 32px;
    position: relative;
    top: 32px;
    left: 32px;
    background-image: url('Sprites/SummerVillagerDefault.png');
}


.dragged {
    border-style: solid;
}

.opaque {
    border-style: none;
    opacity: 0.4;
}


.worked {

}