<html>
<head>
    <title>Manual</title>
    <link rel="icon" href="../static/Sprites/SummerVillagerDefault.png">
    <link rel="stylesheet" href="../static/style/style.css">
</head>
<body>
    <h1>Manual</h1>
    <img src = '../static/Sprites/FeudaLogo.png'>
    <div class = 'game-description'>
        <h2>The goal of the game</h2>
        <p>You are the leader of a small village, and you have to help them get through the cold winter.</p>
        <p>You will have to make sure everybody gets enough food during the year, and that people have enough firewood for the winter.</p>
        <p>In order to win, you have to get to turn 140 with at least 1 living serf.</p>
        <ul>Your score is calculated on your last turn based on: </ul>
            <li>How many serfs are alive</li>
            <li>How many buildings you built</li>
            <li>How many resources you have</li>
        <h2>Gameplay</h2>
        <p>You can drag and drop serfs onto tiles. When a serf works a tile, you will get resources at the end of the turn.
        Resources can be used to double a tiles income by constructing a production building on it.
        Each production building costs 30 wood and 30 lumber.</p>
        <p>You can build mines on mountain tiles, woodcutters on forests, and farms/houses on fields.</p>
        <h2>How to not die 101</h2>
        <p>Each serf eats 1 food per turn, so make sure you are producing enough food!</p>
        <p>You can get more serfs to move in by building houses for them. Be careful with population booms,
            and make sure your farms can keep up!</p>
        <p>After 100 turns winter sets in. This means that all field tiles are limited to 1 food income per turn,
        and each serf uses 3 units of lumber as firewood per turn.</p>
    </div>

    <button class="btn-gradient green mini rounded"><a href="game.html">Let's play</a></button><br>
</body>
</html>
